.pet{
    width: 100px;
    height: 100px;
    background-color: yellow;
}
.romb{
    background-color: green;
    border-radius: 15px;
    width: 450px;
    height: 19px;
}
.hb{
    width: 55px;
    height:100px;
    background-color: black;
    

}